.list-item-fill{
    border: 2px solid rgb(103, 139, 238);
    border-radius: 5px;
    color: rgb(103, 139, 238);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.258824), 0 2px 10px 0 rgba(0,0,0,0.156863);
}