<div class="p-4 col-md-9 ">
    <div class="row d-flex p-2 col-example bg-info">
        <div class="col-md-2">
            Sort By
        </div>
        <div class="col-md-4 dropdown show">
            <div class="bs-example">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-2">
            Sort By
        </div>
        <div class="col-md-2">
            Sort By
        </div>
        <div class="col-md-2">
            Sort By
        </div>
    </div>
    
</div>
