<div class="p-2 col-md-12 border-bottom">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-start">
            <!-- home>auto> -->
        </div>
        <!-- <div class="col-md-6 justify-content-end">
            login
        </div> -->
        <div class="col-md-6 d-flex justify-content-end">
            Manage | You login as sairam63131@gmail.com 
        </div>
    </div>
   
</div>

