<!-- <div class="p-4 col-md-12">
    <div class="mb-2 text-center"> Create New Post</div>
    <div class="col-md-12">
        <div class="col-md-3">Select Category *:</div>
        <div class="col-md-3"><input type="text" class="form-control" id="firstName" placeholder="" value="" required=""></div>
    </div>
    <div>
        <div class="col-md-3">Select Sub Category* :</div>
    </div>
    <div>
        <div class="col-md-3">Description:</div>
    </div>
    <div>
        <div class="col-md-3">Content:</div>
    </div>
    <div>
        <div class="col-md-3">Phone #</div>
    </div>
    <div>
        <div class="col-md-3">Add Images</div>
    </div>
</div> -->

<div class="container">
    <h2>Inline form</h2>
    <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and
        the labels are alongside.</p>
    <form>
    <div class="row">
        <div class="form-mainCatagory col-sm">
            <label for="email">Select Catagory:</label>
            <select multiple class="form-control" id="sel2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-subCategory col-sm">
            <label for="pwd">Select Sub Catagory:</label>
            <select multiple class="form-control" id="sel2">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
    </div>
    <div class="form-descriiption">
        <label for="usr">Description:</label>
        <input type="text" class="form-control" id="usr" maxlength="100">
    </div>

    <div class="form-comment">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="row">
        <div class="form-descriiption col-sm">
            <label for="usr">Phone:</label>
            <input type="tel" class="form-control" id="usr" maxlength="10">
            <small id="phoneNumberHelp" class="form-text text-muted">We wil show your phone id in post.</small>
            
        </div>

        <div class="form-descriiption col-sm">
            <label for="usr">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="usr" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We wil show your Email id in post.</small>
        </div>
    </div>
    <div class="input-group p-4">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
                aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="updates" id="updates" value="1">
        <label for="updates" class="form-check-label">I accept all terms & condictions</label>
      </div>
    <div class="p-4 text-center">
        <button type="submit" class="btn btn-info m-2">Preview</button>
        <button type="submit" class="btn btn-info m-2">Submit</button>
    </div>


    </form> 
</div>
