<div>
  <header class="blog-header py-3 indiaShade">
    <!-- <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-12 text-center">
        <a class="blog-header-logo text-dark " href="#"><h3>ToDo Local Adds</h3></a>
      </div>
    </div> -->
    <div class="overlay">
      <h1>Do Do Adds</h1>
      <h3>Free Classified Site</h3>
    </div>
  </header>

  <div class="nav-scroller py-1 container">
    <nav class="nav d-flex justify-content-between">
      <a class="p-3 text-muted" href="#" [routerLink]="['home/viewpost']">Home</a>
      <a class="p-3 text-muted" href="#" [routerLink]="['/post/new']">Register As New Post</a>
      <a class="p-3 text-muted" href="#">#####</a>
      <a class="p-3 text-muted" href="#">Search with your device location</a>
      <a class="p-3 text-muted" href="#">Search</a>

    </nav>
  </div>
 
  <div class="container">
    <app-navigation-info></app-navigation-info>
  </div>
  
  <!-- <app-new-post></app-new-post>123 -->
  <!-- ----------------
  <app-sorting></app-sorting>abc
  --------------

  <app-list-item></app-list-item>
  ---------------
  <app-add></app-add>
  ---------------
  <app-detail-add></app-detail-add>
  --------------- -->
<div class="container">
  <router-outlet></router-outlet>
</div>
