/*Need to change indiaShade css to work in Ie*/
.indiaShade{
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    /* background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg'); */
    /* background: rgb(255,153,51); */
    /* background: linear-gradient(120deg, rgba(255,153,51,1) 0%, rgb(240, 238, 236) 50%, rgba(19,136,8,1) 100%); */

}

/* body{height: 900px;} */
header {
	background: url('http://www.autodatz.com/wp-content/uploads/2017/05/Old-Car-Wallpapers-Hd-36-with-Old-Car-Wallpapers-Hd.jpg');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 10px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	/* font-family: 'Dancing Script', cursive; */
	font-size: 80px;
	margin-bottom: 10px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 10px;
}
