<!-- <app-buttons-list></app-buttons-list> -->
<div class="row">
    <div class="col-md-12">
        <div class="p-2"  *ngIf="selectedCatogry!=null">
            <Button *ngIf="selectedCatogry!=null" class="btn btn-link btn-xs" 
            (click)="selectedScreen=null;selectedCatogry=null">{{'<<home'}}</Button>
            Selected Cat :{{selectedCatogry}}           
        </div>
    </div>
</div>
<div class="row ">
    <div class="col-md-9 pt-5 border-right">
        <app-category-list-component *ngIf="selectedScreen==null" 
        (itemClicked)="eventFrom_app_category_list_component($event)"></app-category-list-component>
        <app-list-item *ngIf="selectedScreen=='itemlist'" (itemSelected) = "detailData_fromAppListItem_list_component($event)" ></app-list-item>
        <app-detail-add *ngIf="selectedScreen=='detaillist'" [detailData] = "detailData_fromAppListItem" (click)="selectedScreen='itemlist'"></app-detail-add>
    </div>
    <div class="col-md-3">
        <app-add></app-add>
    </div>
</div>