<div class="p-4 col-md-12">
    <div *ngFor="let item of jsondataForCar">
    <div class="row p-1 list-item">
        <div class="p-1 col-md-12 text-center"><h3>{{item.auto.cars.postNumber.p1.Title}}</h3></div>
    <div class="col-md-3 p-2">
        <div class="p-1">Make: {{detailData.Make}}</div>
        <div class="p-1">Model: Corola</div>
        <div class="p-1">Year: 2015</div>
        <div class="p-1">Transmission: Auto</div>
        <div class="p-1">Make: Toyota</div>
        <div class="p-1">Model: Corola</div>
        <div class="p-1">Year: 2015</div>
        <div class="p-1">Transmission: Auto</div> 
    </div>
    <div class="col-md-3 p-2">
        <div class="p-1">Make: Toyota</div>
        <div class="p-1">Model: Corola</div>
        <div class="p-1">Year: 2015</div>
        <div class="p-1">Transmission: Auto</div>
        <div class="p-1">Make: Toyota</div>
        <div class="p-1">Model: Corola</div>
        <div class="p-1">Year: 2015</div>
        <div class="p-1">Transmission: Auto</div>  
    </div>
    <div class="col-md-6 p-2 text-center">
        <img src="https://cdn4.buysellads.net/uu/1/3386/1525189943-38523.png" alt="ads via Carbon" border="0" style="max-width: 500px">
      <div class="d-flex justify-content-center pt-2">
        <button class="btn btn-secondary" href="" role="button"><</button>
        <div class="p-2 text-center">1/5</div>
        <button class="btn btn-secondary" href="" role="button">></button>
    </div>
</div>
   <div class="row col-md-12">Portions of this report have been included under license from Toyota Motor North America, Inc. ("TOYOTA"), License Agreement TMS1013 . This data applies only to vehicle marketed or originally sold in Mexico and the United States of America, including Guam, Saipan, American Samoa, Puerto Rico, the U.S. Virgin Islands and the other United States territories and protectorates with currently open safety or emissions recalls, or service campaigns. While TOYOTA provides data to Carfax Inc. on a regular basis, this report may not include very recent activity. For the manufacturer's most current information on recall/campaign activity for any Toyota, Lexus or Scion brand vehicle</div>
    <div class="col-md-12 p-2">
        <div class="p-1">Contact Details</div>
        <div class="p-1">Name: Sai Ram</div>
        <div class="p-1">EmailId: sairam63131@gmail.com</div>
        <div class="p-1">Phone: (510) 399-9609</div>
    </div>
</div>
</div>