<div class="container">
  <div *ngFor="let response of jsondata; let k = index">
    <div class="row p-2">
      <div class="col-md-12">

        <div class="row p-1 list-item">
          <div class="col-md-3 *ngFor = 'let exportvalue of jsondata.postNumber'">
            <div class="p-1">id: {{response.postNumber}}</div>
            <div class="p-1">Make: {{response.Make}}</div>
            <div class="p-1">Model: {{response.Model}}</div>
            <div class="p-1">Year: {{response.year}} </div>
          </div>
          <div class="col-md-3">
            <div class="p-1">Ext.Color: {{response.ExtColor}}</div>
            <div class="p-1">Engine: {{response.Engine}}</div>
            <div class="p-1">Drivetrain: {{response.Drivetrain}}</div>
            <div class="p-1">Mileage: {{response.Mileage}}</div>
          </div>
          <div class="col-md-3">
            <div class="p-1">Zip: {{response.zip}}</div>
            <div class="p-1">Price: {{response.price}}</div>
            <div class="p-1">
              <button type="button" class="btn btn-primary" (click) = "moreInfo(response)">MoreInfo</button>
            </div>
          </div>
          <div class="col-md-3 pr-2">
            <img src={{response.image1}} alt="ads via Carbon" border="0"
              style="max-width: 180px;">
            <div class="media pt-2 pl-5">
              <!-- <button class="btn btn-secondary btn-xs buttonSize" role="button">
                <span class="glyphicon glyphicon-triangle-right"></span> 
              </button> -->
                  <!-- <div>1/5</div> -->
                  <!-- <button class="btn btn-secondary btn-xs buttonSize glyphicon glyphicon-triangle-right" role="button">></button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>