.list-item{
    border: 2px solid skyblue;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.258824), 0 2px 10px 0 rgba(0,0,0,0.156863);
}

.buttonSize{
    height: 25px;
    width: 2px;
    text-align: justify;
}