<div class="container">
    <div *ngFor="let item of catogoryList; let i = index">
        <div class="row">
            <div class="col-md-12">
                <div class="pt-4">
                <div class="card box-shadow">
                    <div class="card-header">{{item.name}}</div>
                    <div class="card-body">
                        <button *ngFor= "let subItem of item.items; let j = index" type="button" class="btn btn-link " 
                        (click)="itemSelected(subItem)">{{subItem.name}}</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>    
</div>